<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&amp;subset=japanese">
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<title>デデフラ</title>
</head>
<h1>デデフラ</h1>
<body class="container">

	<header class="row justify-content-center">
		<div class="col-lg-10">
			<figure class="text-center">
				<a href="index.html"><img src="img/title/title.png" class="img-fluid" alt="デデフラ"></a>
			</figure>
		</div>
	</header>

	<main class="row">
		<% draft.lowers.values().each { def frag -> %>
		<article class="col-lg-3 ${frag.kind} ${frag.style}">
			<h2><a href="${frag.name}.html">${frag.titleHtml}</a></h2>
			<div class="meta">
				<a href="?kind=${frag.kind}" class="btn btn-light">${frag.kindJp}</a>
				${frag.pubdate}
			</div>
		</article>
		<% } %>
	</main>

	<footer class="row justify-content-center my-3">
		<nav class="col-lg-12 text-end">
			<a href="/"><img src="/img/banner/banner.gif" alt="*the long fish*" width="88" height="31"></a>
		</nav>
	</footer><!-- end of row -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="js/index.js"></script>
	<script>
	window.onload = showIndex();
	</script>

</body>
</html>
