body {
	font-family: 'Noto Serif JP', serif;
	background-color: #FFFFFF;
	color: #000000;
}
p {
	letter-spacing: 0.1em;
	line-height: 2.3em;
	text-align: justify;
	word-wrap: break-word;
}
a:link {
	color: #999999;
}
a:visited {
	color: #666666;
}
a:active {
	color: #333333;
}
a:hover {
	color: #CCCCCC;
}
h1 {
	font-size: 110%;
	margin: 5em 0% 3em;
}
nav {
	margin: 3em 0% 2em;
	text-align: right;
}
nav .fas {
	font-size: 300%;
}
ul {
	margin: 5px 0px;
	padding: 0px;
}
li {
	list-style-type: none;
	font-size: 100%;
	line-height: 1.8em;
}
